/* ====================== [ Start Preloader ] ====================== */

.load {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: $main-color;
  pointer-events: none;
  z-index: 9999999999999;
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


.loader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #10141b;
}

.count {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: calc(20px + 5vw);
  color: #fff;
  font-weight: 800;
  text-align: right;
}


/* ====================== [ End Preloader ] ====================== */


/* ====================== [ Start Text Animation & Images ] ====================== */

.splitting.animated .char {
  animation: fadeInUp .4s cubic-bezier(.3, 0, .7, 1) both;
  animation-delay: calc(30ms * var(--char-index));
}

.splitting .whitespace {
  width: 5px;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.splitting.txt.animated .char {
  animation: fadeIn .3s cubic-bezier(.3, 0, .7, 1) both;
  animation-delay: calc(10ms * var(--char-index));
}

.splitting.txt .whitespace {
  width: 5px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.imago {
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition: all .8s;
  transition-delay: .3s;

  &.animated {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

/* ====================== [ End Text Animation & Images ] ====================== */


/* ====================== [ Start Cursor Style ] ====================== */

.mouse-cursor {
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
  border-radius: 50%;
  transform: translateZ(0);
  visibility: hidden;
}

.cursor-inner {
  margin-left: -5px;
  margin-top: -5px;
  width: 10px;
  height: 10px;
  z-index: 10000001;
  background-color: $main-color;
  transition: width .4s ease-in-out,
  height .4s ease-in-out,
  margin .4s ease-in-out,
  opacity .4s ease-in-out;
}

.cursor-inner.cursor-hover {
  margin-left: -25px;
  margin-top: -25px;
  width: 50px;
  height: 50px;
  background-color: $main-color;
  opacity: .2;
}

.cursor-outer {
  margin-left: -15px;
  margin-top: -15px;
  width: 40px;
  height: 40px;
  border: 1px solid $main-color;
  box-sizing: border-box;
  z-index: 10000000;
  opacity: .5;
  transition: all .08s ease-out;
  display: none;

  &.cursor-hover {
    opacity: 0;
  }
}

/* ====================== [ End Cursor Style ] ====================== */


/* ====================== [ Start progress-wrap ] ====================== */

.progress-wrap {
  position: fixed;
  bottom: 30px;
  right: 30px;
  height: 44px;
  width: 44px;
  cursor: pointer;
  display: block;
  border-radius: 50px;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition: all 400ms linear;
}

.progress-wrap.active-progress {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.progress-wrap::after {
  position: absolute;
  font-family: 'Font Awesome 5 Free';
  content: '\f077';
  text-align: center;
  line-height: 44px;
  font-size: 13px;
  font-weight: 900;
  color: $main-color;
  left: 0;
  top: 0;
  height: 44px;
  width: 44px;
  cursor: pointer;
  display: block;
  z-index: 1;
  transition: all 400ms linear;
}

.progress-wrap svg path {
  fill: none;
}

.progress-wrap svg.progress-circle path {
  stroke: $main-color;
  stroke-width: 4;
  box-sizing: border-box;
  transition: all 400ms linear;
}

/* ====================== [ End progress-wrap ] ====================== */