/* ====================== [ Start Intro ] ====================== */

.about {

  .main-tit {

    h2 {
      font-size: 60px;
      font-weight: 700;
      text-transform: uppercase;

      .whitespace {
        width: 10px;
      }
    }
  }

  .content {

    .exp {
      display: flex;
      margin-top: 30px;

      h3 {
        font-size: 100px;
        font-weight: 700;
        background: url(../img/exp.jpg) no-repeat;
        background-size: cover;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        line-height: 1;
      }

      h5 {
        padding-left: 30px;
        margin-top: -20px;
      }
    }
  }

  .office {
    margin-top: 70px;

    .item {
      height: 400px;
      background-size: cover;
      background-position: center;
      position: relative;
      margin-top: 50px;

      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #020519;
        opacity: .2;
      }

      .num {
        position: absolute;
        bottom: -20px;
        left: 10px;
        font-size: 60px;
        font-weight: 800;
        line-height: 1;
        z-index: 4;
        background: linear-gradient(to right bottom, transparent 10%, #fff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        z-index: 3;
      }

      .tit {
        position: absolute;
        bottom: 0px;
        right: 10px;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 4px;
        font-weight: 300;
        z-index: 3;
      }
    }
  }
}

.intro-section {

  .htit {
    font-size: 28px;
    font-weight: 500;

    span,
    .txt {
      font-size: 17px;
      font-weight: 300;
      color: $main-color;
      margin-right: 5px;
    }
  }

  .item {

    h6 {
      font-size: 13px;
      font-weight: 700;
      letter-spacing: 4px;
      text-transform: uppercase;
      margin-bottom: 10px;
    }
  }
}

.min-area {

  .img {
    padding: 120px 0 120px 80px;
    position: relative;
    z-index: 3;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 120px;
      bottom: 0;
      left: -300px;
      background: #fafafa;
      z-index: -1;
    }
  }

  .txt {
    margin-bottom: 25px;
  }

  .content {
    padding-left: 40px;
    padding-top: 100px;
    padding-bottom: 100px;

    h4 {
      font-weight: 700;
      font-size: 40px;
      line-height: 1.5;
      margin-bottom: 20px;

      a {
        text-decoration: underline;
        color: $main-color;
      }
    }

    ul {
      margin: 0;

      li {
        padding-left: 25px;
        position: relative;

        &:after {
          content: '';
          width: 10px;
          height: 10px;
          border: 1px solid #999;
          border-radius: 50%;
          position: absolute;
          left: 0;
          top: 2px;
        }

        label {
          width: 100%;
        }

        input, textarea {
          width: 100%;
          padding: 15px 0;
          border: 0;
          border-bottom: 1px solid #0a0a0a;
          margin-bottom: 0;
          background: transparent;
        }

        textarea {
          min-height: 160px;
        }
      }

      &.feat {

        li {
          padding: 0 0 10px 0;
          border-bottom: 1px solid rgba(255, 255, 255, .2);

          &:last-of-type {
            padding: 0;
            border: 0;
          }

          &:after {
            display: none;
          }

          h6 {
            margin-bottom: 5px;
            font-family: Poppins, sans-serif;
            font-size: 15px;

            span {
              width: 30px;
              height: 30px;
              line-height: 30px;
              text-align: center;
              font-size: 13px;
              border: 1px solid #ddd;
              border-radius: 50%;
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
}

.extra-text {
  font-size: 22px;
}

.video-wrapper {
  min-height: 500px;

  .vid {
    position: relative;
    z-index: 8;

    .vid-butn {

      &:hover {

        .icon {
          color: #fff;

          &:before {
            transform: scale(0);
          }
        }
      }

      .icon {
        color: #212529;
        width: 100px;
        height: 100px;
        border: 1px solid rgba(255, 255, 255, .2);
        border-radius: 50%;
        line-height: 100px;
        text-align: center;
        font-size: 17px;
        position: relative;
        transition: all .5s;

        &:after {
          content: '';
          position: absolute;
          top: 5px;
          bottom: 5px;
          right: 5px;
          left: 5px;
          border: 1px solid #eee;
          border-radius: 50%;
          z-index: -1;
        }

        &:before {
          content: '';
          position: absolute;
          top: 5px;
          bottom: 5px;
          right: 5px;
          left: 5px;
          background: #fff;
          border-radius: 50%;
          z-index: -1;
          transition: all .5s cubic-bezier(1, 0, 0, 1);
        }
      }
    }
  }
}

/* ====================== [ End Intro ] ====================== */